PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n-----END PRIVATE KEY-----\n"
PROJECT_ID=example
CLIENT_EMAIL=example@example.iam.gserviceaccount.com
ENABLE_POSTHOG=true
NODE_ENV=local
NODEJS_HELPERS=0
GITHUB_API_TOKEN=exampletoken1234567890
